* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
}
input {
    background: none;
}
.btn-login {
    background-color: #CFE69B;
    color: #717076;
}
.forminput {
    width: 40em;
}
.btn-add {
    background-color: #CFE69B;
    color: #717076;
}
.tasktable {
    border: 1px solid gray;
    background: none;
    margin-top: 20px;
}
.error {
    color: crimson;
}