<div>

  <div>
    <div>
      <h1>Register</h1>
      <p *ngFor='let message of messages' class='error'>
        {{message}}
      </p>
      <p>Already a user? Please <a routerLink="/login">log in</a> instead.</p>
      <form (submit)="register()">
        <table>
          <tr>
            <td><label for="username">Username</label></td>
            <td><input class="forminput" type="text" name="username" placeholder="Enter your username" [(ngModel)]="credentials.username"></td>
          </tr>
          <tr>
              <td><label for="email">Email address</label></td>
              <td><input class="forminput" type="email" name="email" placeholder="Enter email" [(ngModel)]="credentials.email"></td>    
          </tr>
          <tr>
            <td>
                <label for="password">Password</label>
            </td>
            <td>
                <input class="forminput" type="password" name="password" placeholder="Password" [(ngModel)]="credentials.password">
            </td>
          </tr>
        </table>
        <button type="submit" class="btn btn-login">Register!</button>
      </form>
    </div>
  </div>

</div>