
<div id="taskbox" *ngIf="objectKeys(inputs).length>0">
    <h3>Already chosen</h3>
<table class="table tasktable">
    <tr *ngFor="let tid of objectKeys(inputs)" 
        class="{{((inputs[tid]._user == inputs[tid].adder) ? 'own' : 'other')}} {{((inputs[tid].status == 'Done') ? 'done' : '')}}">
      <td class="tasktext">        
          <app-list-edit [(ngModel)]="inputs[tid].taskText" label="Task" [curValue]="inputs[tid].taskText" [eid]="tid" editfield="taskText" [required]="true" 
          type="text" (aTaskEventEmitter)="updateTaskDetails($event)" 
          >
          </app-list-edit>
      </td>
      <td class="statustext">
          <button class="btn btn-add" (click)="toggleStatus(tid)">{{((inputs[tid].status == 'Done') ? 'Not Done' : 'Done')}}</button>
      </td>
      <td class="deleteicon"><i (click)="deleteTask(tid)" class="fas fa-minus-circle"></i></td>
    </tr>
  </table>
</div>
  <form id="add" (submit)="addTask()">
    <h3>Choose carefully</h3>
    <table class="table">
      <tr class="newtask">
          <td class="tasktext">
              <input [(ngModel)]="newtask.taskText" name="newtask.taskText" class="textinput" placeholder="Next task"/>
          </td>
          <td class="deleteicon">
            <button class="btn btn-add">Add</button>
          </td>
      </tr>
    </table>
    </form>
